/* custom.css */

/* Sobrescreve o tema para permitir que os cards tenham altura variável.
   A classe 'is-align-items-flex-start' (adicionada via*/

/*
 * Na visualização em grade (Grid View), o framework Bulma por padrão estica os itens
 * na mesma linha para terem a mesma altura. A propriedade 'align-items'
 * muda esse comportamento, alinhando os itens no topo da linha.
 */
#grid-view-container {
    align-items: flex-start;
}

/*
 * Sobrescreve a regra 'height: 100%' do theme.min.css.
 * Com 'height: auto', a altura do card será determinada pelo seu conteúdo.
 * Isso funciona tanto para a visualização em grade quanto para a de board.
 */
.card {
    height: auto;
}

/*
 * Para os cards de texto, limita a altura da área de conteúdo e adiciona
 * uma barra de rolagem ('scroll') se o texto ultrapassar esse limite.
 */
.card .card-content .content {
    max-height: 300px; /* Você pode ajustar este valor conforme necessário */
    overflow-y: auto;  /* Mostra a barra de rolagem apenas quando necessário */
}