/* Header menu custom colors */
.header-inactive {
  background: #222;
  color: #fff;
  border: none;
}
.header-inactive:hover, .header-inactive:focus {
  background: #2160c4;
  color: #fff;
}
.header-active {
  background: #2160c4;
  color: #fff;
  border: none;
  font-weight: bold;
}